<div class="container">
    <div class="row"></div>
    <h1>Albums for: {{this.name}}</h1> {{!-- showing the artist result name --}}
    {{#each artistsList}} {{!-- defined in the app.js file --}}
    <div class="artists-info">
        <div><img src=""></div>
        <div>
            <p>
                {{this.name}} {{!-- refers to the artist name in the spotifyAPI --}}
            </p>
            {{/each}}
        {{!--     iteration 4 - see albums of particular artist: --}}
            <a href="/tracks/{{this.id}}">View Tracks</a> {{!-- takes the id from the album folder on spotifyAPI --}}
        </div>
    </div>
</div>