<link rel='stylesheet' href='/styles/home.css' />
<div class="container">
    <div class="content">
        <form class="searchForm" action="/artist-search" method="get">
        <label for="searchbar"></label>
        <input class="search" id="searchbar" type="text" name="search input" >
        <button class="searchBtn" type="submit">Search for an Artist</button>
        </form>
    </div>
</div>